# Environment variables that are applied to docker-compose for devcontainers. Application level .env is declared one level above.

COMPOSE_PROFILES=infra

# opencode webui password
OPENCODE_SERVER_PASSWORD=${OPENCODE_SERVER_PASSWORD:-}

# Directories to enable mcp gateway to mount to.
MCP_GATEWAY_DOCKER_BIND_ALLOWED_PATHS=${MCP_GATEWAY_DOCKER_BIND_ALLOWED_PATHS:-/workspace}
MCP_GATEWAY_DOCKER_BIND_ALLOW_WRITABLE_PATHS=${MCP_GATEWAY_DOCKER_BIND_ALLOW_WRITABLE_PATHS:-/workspace}
